In [3]:
import pandas as pd
import os

In [4]:

data_path = "/mnt/new_volume/vgg_sound/scratch/shared/beegfs/hchen/train_data/VGGSound_final/video"
train_csv = "/mnt/new_volume/vgg_sound/train.csv"
test_csv = "/mnt/new_volume/vgg_sound/test.csv"

In [5]:
#list all the files in the directory

files = os.listdir(data_path)

s_files = set(files)

In [6]:
print(len(s_files))

199176

In [7]:
len(os.listdir("/mnt/new_volume2/vgg_sound_emb/test"))

15209

In [9]:
len(os.listdir("/mnt/new_volume2/vgg_sound_emb/train")) + len(os.listdir("/mnt/new_volume2/vgg_sound_emb/test"))

197834

In [25]:
# read the csv file with col name being ["video_id", "label"]
train_df = pd.read_csv(train_csv, names=["video_id", "label"])

In [26]:
train_df

                      video_id                label
0       OxPnZzn1_L8_000883.mp4         scuba diving
1       snh7E7llb48_000070.mp4          dog bow-wow
2       eNb_niqtGeU_000177.mp4            yodelling
3       xXaVc4YqBNI_000018.mp4        playing bongo
4       qTRtT9yDl3s_000319.mp4  playing double bass
...                        ...                  ...
183725  4b8jRhb_B64_000074.mp4    people battle cry
183726  uaU-_TooopI_000105.mp4        playing tabla
183727  5E5DO4CPoNk_000030.mp4          pig oinking
183728  9fhhMaXTraI_000044.mp4       fire crackling
183729  G_JwMzRLRNo_000252.mp4     cricket chirping

[183730 rows x 2 columns]

In [ ]:
p = train_df['video_id'].apply(lambda x: x in s_files)
(p==False).sum()

In [34]:
(p==False).sum()

0

In [14]:

test_df = pd.read_csv(test_csv)

In [12]:
pd.read_csv(test_csv)

       glLQrEijrKg_000300.mp4    playing hammond organ
0      LDoXsip0BEQ_000177.mp4           parrot talking
1      6jiO0tPLK7U_000090.mp4        basketball bounce
2      cRlp5v9BHeE_000011.mp4           car passing by
3      WgZ8KAnnTb8_000030.mp4                  rapping
4      ATnl-fq5nAk_000030.mp4  playing acoustic guitar
...                       ...                      ...
15440  ZPeG32vKQ3w_000030.mp4     typing on typewriter
15441  yyqydavJ4YQ_000201.mp4           airplane flyby
15442  EJwOhdjhxXY_000012.mp4        francolin calling
15443  oYEzy8gH6q8_000030.mp4           tapping guitar
15444  E75i9rHDHaE_000000.mp4           strike lighter

[15445 rows x 2 columns]

In [12]:
import torch

In [16]:
data = torch.load("/mnt/new_volume2/vgg_sound_emb/train/Q8K3shbvV9g_000032.pth")

In [17]:
data.keys()

dict_keys(['id', 'caption', 'clip_features', 'clap_features'])

In [18]:
data['clip_features'].shape

torch.Size([64, 512])

In [19]:
data['clap_features'].shape

torch.Size([1, 512])

In [20]:
data['id']

'Q8K3shbvV9g_000032.mp4'

In [21]:
data['caption']

'playing glockenspiel'